Meta
doc
/man-raw
.Rproj.user
.Rhistory
.RData
/doc/
/Meta/
.Rdata
.httr-oauth
.DS_Store
/.settings
/_dev
/_validation
/_version
lastMiKTeXException
/CRAN-SUBMISSION
/.svn
/.externalToolBuilders
/docs
/data-raw
/.cproject
/.project
docs
rpact-tests
tests-complete
testthat-problems.rds
/tests/testthat/_examples
/src/*.gcno
/src/*.gcda
/src/*.gcno
/src/*.gcov
/README.html
/tests/testthat/Rplots.pdf
/tests/testthat/index.txt
/rpact.Rproj
/figure/create_designPlan-1.png
/figure/create_designPlan-2.png
/hs_err_pid51656.log
/log.txt
/rpact-Ex.R
/rpact-Ex.Rout
/rpact-Ex.pdf
/tests/rpact_test_result_report.pdf
/tests/testthat.Rout
/release-notes-draft-full.md
/release-notes-draft.md
