Meta
doc
/man-raw
.Rproj.user
.Rhistory
.RData
/doc/
/Meta/
.Rdata
.httr-oauth
.DS_Store
/.settings
/_dev
/_validation
/_version
lastMiKTeXException
/CRAN-SUBMISSION
/.svn
/.externalToolBuilders
/docs
/data-raw
/.cproject
/.project
docs
rpact-tests
tests-complete
testthat-problems.rds
/tests/testthat/_examples
/src/*.gcno
/src/*.gcda
/src/*.gcno
/src/*.gcov
/README.html
/tests/testthat/Rplots.pdf
