Meta
doc
.Rproj.user
.Rhistory
.RData
/doc/
/Meta/
.Rdata
.httr-oauth
.DS_Store
/.settings
/_dev
/_validation
/_version
lastMiKTeXException
/CRAN-SUBMISSION
/.svn
/.externalToolBuilders
/docs
/data-raw
/.cproject
/.project
